:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
  --transition-lenta: 200ms;
  --tamaño: 2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  place-items: center;
  background: var(--clr-bg);
  font-family: "Zen Dots", cursive;
  color: var(--clr-neon);
  padding-right: 2rem;
}

.boton-neon {
  font-size: var(--tamaño);

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0 100% / 0.3), 0 0 0.45em var(--clr-neon);

  box-shadow: inset 0 0 1em 0 var(--clr-neon), 0 0 1em 0 var(--clr-neon);

  position: relative;
}

.boton-neon::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
  filter: blur(1em);
  opacity: 0.5;
}
.boton-neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity var(--transition-lenta) linear;
}

.boton-neon:hover,
.boton-neon:focus {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
.boton-neon:hover:focus,
.boton-neon:hover::before {
  opacity: 1;
}

.boton-neon:hover:focus,
.boton-neon:hover::after {
  opacity: 1;
}

@media screen and (min-width: 400px) {
  :root {
    --tamaño: 3em;
  }
}
@media screen and (min-width: 550px) {
  :root {
    --tamaño: 4em;
  }
}
@media screen and (min-width: 850px) {
  :root {
    --tamaño: 6em;
  }
}
